.header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: transparent;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: color var(--transition-pattern);
}
.link:hover,
.link:focus {
  color: var(--hover-blue);
}

.active {
  composes: link;
  text-decoration: underline;
}
